:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  text-align: center;
}
ul {
  list-style-type: none;
}
li {
  padding: 15px 10px;
  margin: 10px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.input-text {
  width: 272px;

  border: 1px solid #808080;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 8px;
  margin-right: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.7px;

  outline: none;
}
.input-text:hover {
  border: 1px solid #000000;
}
.input-text:focus {
  border: 1px solid #4e75ff;
  color: #000000;
}
.button {
  margin-top: 8px;
  padding: 5px 5px;

  width: 91px;
  height: 40px;

  color: #ffffff;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.7px;
  border: 1px solid #4e75ff;
  border-radius: 10px;
}
.button:hover {
  background-color: #6c8cff;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #4e75ff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
  margin: 150px auto;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.hidden {
  display: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}
.image-wrapper {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}
.gallery-images {
  width: 360px;
  height: 152px;
  object-fit: cover;
}
.text-wrapper {
  display: flex;
  border-top: 1px solid #808080;
  background: #fff;
  gap: 35px;
  justify-content: center;
}
.text-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-header {
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.48px;
  padding-top: 4px;
  margin: 0;
}

.text-info {
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin: 0;
}

.load-more {
  margin-top: 20px;
  padding: 5px 5px;

  width: 125px;
  height: 40px;

  color: #ffffff;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.7px;
  border: 1px solid #4e75ff;
  border-radius: 10px;
}
.load-more:hover {
  background-color: #6c8cff;
}
